<launch>

  <arg name="username" default="dummyusername" />
  <arg name="password" default="dummypassword" />
  <arg name="hostname" default="192.168.50.3" />
  <arg name="estop_timeout" default="9.0" />
  <arg name="vel_topic" default="/cmd_vel" />
  <arg name="enable_mux" default="false" />

  <node pkg="spot_driver" type="spot_ros" name="spot_ros" ns="spot" output="screen">
    <rosparam file="/spot/config/spot_ros.yaml" command="load" />
    <param name="username" value="$(arg username)" />
    <param name="password" value="$(arg password)" />
    <param name="hostname" value="$(arg hostname)" />
    <param name="estop_timeout" value="$(arg estop_timeout)" />
    <remap from="/spot/cmd_vel" to="$(arg vel_topic)" />
    <remap from="joint_states" to="/joint_states" />
    <remap from="tf" to="/tf" />
    <remap from="status/battery_percent" to="/robot/battery_percent" />
    <remap from="status/battery_seconds" to="/robot/battery_seconds" />
  </node>

  <!-- <node pkg="spot_driver" type="spot_ros_images.py" name="spot_ros_images" /> -->

  <node pkg="twist_mux" type="twist_mux" name="twist_mux" if="$(arg enable_mux)">
    <rosparam command="load" file="$(find spot_driver)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="spot/cmd_vel"/>
  </node>

</launch>
